section.herosection {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.heroinfo h1 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 86px;
    /* or 132% */
    letter-spacing: -0.02em;
    color: #182B49;
}

.heroinfo p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #8392A5;
}


.heroinfo h1 span {
    color: #89B21C;
    animation: myanimationtextcolor 5s alternate infinite;
}

.heroinfo p {
    max-width: 626px;
    margin-bottom: 49px;
}

.heroinfo h1 {
    margin-bottom: 30px;
}

.video {
    display: flex;
    align-items: center;
}

a.watch span {
    display: inline-block;
    align-items: center;
}

a.watch {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

a.watch {
    font-family: 'Product Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #182B49;
    text-decoration: none;
}


section.herosection:after {
    content: "";
    position: absolute;
    background-image: url(../../../Assets/Images/eco_hero_1.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 48px;
    top: 30px;
    left: 0;
    animation: moveslide 6s ease-in-out infinite;
}

.earth img {
    width: 839px;
    height: 639px;
}

.heroinfo {
    position: relative;
}

.heroinfo:after {
    content: "";
    position: absolute;
    background-image: url(../../../Assets/Images/eco_hero_2.png);
    background-repeat: no-repeat;
    width: 74px;
    height: 22px;
    top: -31px;
    left: -90px;
    animation: moveslide 6s ease-in-out infinite;
}

a.watch span svg {
    margin-right: 6px;
}

.earth {
    animation: moveslide 6s ease-in-out infinite;
}

/* move up top  */
@keyframes moveslide {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

/* text color change animation */
@keyframes myanimationtextcolor {
    0% {
        color: #8FBC2A;
    }

    25% {
        color: #0AAFFF;
    }

    50% {
        color: #F9A31E;
    }

    75% {
        color: #FF7D51;
    }

    100% {
        color: #8FBC2A;
    }
}