/* header css */
.container {
    max-width: 1477px;
}

a.home {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #182B49;
    opacity: 0.5;
    margin-right: 50px;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease;
}

a.home.active {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #182B49;
    opacity: 1;
    position: relative;
}

a.home:hover {
    color: #8FBC2A;
}

a.home.active:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background: #8FBC2A;
    border-radius: 3px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

/* .navbar-nav a.nav-link {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
color: #182B49;
opacity: 0.5;
}
*/
/* 
.navbar-nav a.nav-link {
    margin-right: 50px !important;
} */

.navbar-nav {
    margin-left: auto !important;
}

a.joinnow {
    background: transparent;
    border-radius: 5px;
    padding: 14px 26px;
    border: 1px solid #8FBC2A;
    color: #8FBC2A !important;
}

a.joinnow {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
}

form.join {
    margin-left: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    filter: drop-shadow(0px 14px 64px rgba(229, 233, 242, 0.5)) !important;
    background: #ffffff;
}

a.joinnow {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

a.joinnow:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 0px;
    z-index: -1;
    transition: all 0.75s ease 0s;
    /* border-radius: 60px; */
    color: white !important;
    background: #8FBC2A;
}

a.joinnow:hover {
    color: white !important;
    transition: all 0.5s ease;
}

a.joinnow:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    transition: all 0.75s ease 0s;
}

a.joinnow:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.joinnow:hover:after {
    height: 450%;
}

a.joinnow {
    position: relative;
    transition: all 0.5s ease;
}

.navbar-toggler.navbar-nav.navbar-nav-scroll {
    display: block;
    border: none;
}

/* fotter css */
footer.ecoweb {
    border-top: 1px solid #E6E6E6;
    padding-top: 91px;
    padding-bottom: 20px;
}

.footerlogo {
    margin-bottom: 40px;
}

.loremfooter p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    color: #182B49;
    opacity: 0.7;
    margin-bottom: 38px;
    max-width: 437px;
}

.loremfooter {}

.loremfooter ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.loremfooter ul li {
    margin-right: 16px;
}

.loremfooter ul li a:hover span svg path {
    fill: #8FBC2A;
    transition: all 0.5s ease;
}

.loremfooter ul li a span svg path {
    transition: all 0.5s ease;
}

.loremfooter ul li a {
    display: flex;
}

.copywrite p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #8392A5;
    opacity: 0.5;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.copywrite {
    border-top: 1px solid #E6E6E6;
    margin-top: 93px;
}

.quicklinks h6 {
    font-family: 'Product Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #001737;
    padding-bottom: 34px;
}

.quicklinks ul {
    list-style-type: none;
    padding: 0;
}

.quicklinks ul li a {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #8392A5;
    text-decoration: none;
    position: relative;
}

.quicklinks ul li {
    margin-bottom: 20px;
}

.quicklinks ul li a:hover {
    color: #8FBC2A;
    transition: all 0.5s ease;
}

.quicklinks ul li a {
    transition: all 0.5s ease;
}

.subscripe h6 {
    font-family: 'Product Sans Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #001737;
    margin-bottom: 33px;
}

input.enteremail::placeholder {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    color: #8392A5;
    opacity: 0.5;
}

input.enteremail {
    padding: 13px 20px;
    border: 1px solid rgb(8 157 147 / 20%);
    border-radius: 5px;
}

.email {
    position: relative;
    display: flex;
    margin-bottom: 19px;
}

.email span {
    background: #8FBC2A;
    border-radius: 5px;
    margin-left: 20px;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscripe p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */
    color: #8392A5;
    max-width: 368px;
}

.quicklinks ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    /* left: 0; */
    /* background: white; */
    height: 2px;
    margin-bottom: -2px;
    width: 0;
    transition: width 0.5s;
}

.quicklinks ul li a:hover:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0px;
    background: #8FBC2A;
    color: #8FBC2A;
    animation: sec 1500ms infinite;
    width: 40%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #8FBC2A;
    border-radius: 4px;
    position: absolute;
}