section.web {
    position: relative;
    padding-bottom: 109px;
}

section.web:before {
    content: "";
    position: absolute;
    background-image: url(../../../Assets/Images/webpan1.png);
    background-repeat: no-repeat;
    width: 202px;
    height: 308px;
    right: 0;
    bottom: -11%;
}


section.web .row {
    align-items: center !important;
}

.Webdelop p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    color: #8392A5;
    padding-bottom: 60px;
    max-width: 981px;
    margin: auto;
}

.proven h4 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #182B49;
    text-align: center;
    padding-bottom: 119px;
    margin: 0;
}

.webanaiysingcolor1 h5 {
    color: #089D93;
}

.webanaiysing h5 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    display: flex;
    align-items: center;

    /* p2 */
    margin-bottom: 30px;
}

.webanaiysing p {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #8392A5;
    max-width: 666px;
    margin: 0;
}

.lineborder {
    position: relative;
}

.lineborder:after {
    content: "";
    position: absolute;
    background-image: url(../../../Assets/Images/line.png);
    background-repeat: no-repeat;
    width: 1486px;
    height: 1674px;
    right: -69px;
    top: 20px;
}